# ENVIRONMENT
NODE_ENV="development"
PORT="3333"
BASE_URL="http://localhost:3333"
CORS_ORIGIN="*"
PUBLIC_BUCKET_URL="your_public_bucket_url"

# APP
APP_URL="http://localhost:3000"

# DATABASE
DATABASE_URL="postgresql://user:password@host:port/database?schema=public"

# JWT
JWT_SECRET="your_jwt_secret_here"

# CLOUDFLARE
CLOUDFLARE_ENDPOINT="your_cloudflare_endpoint"
CLOUDFLARE_ACCESS_KEY_ID="your_access_key_id"
CLOUDFLARE_SECRET_ACCESS_KEY="your_secret_access_key"
CLOUDFLARE_BUCKET_NAME="your_bucket_name"

# REDIS
REDIS_HOST="127.0.0.1"
REDIS_PORT="6379"
# REDIS_PASSWORD="admin" # Could be empty

# MAIL (SMTP)
SMTP_HOST="smtp.example.com"
SMTP_PORT="587"
SMTP_USER="your_smtp_user"
SMTP_PASS="your_smtp_password"
SMTP_SECURE="false"
MAIL_FROM="Delivery <no-reply@example.com>"
SUPPORT_EMAIL="no-reply@example.com"